body{
  background-color: Wheat;
  font-size: 2.5vh;
}
input 
{
  font-size: auto;
  width: 90%;
  height: 2.5vh;
  background: Bisque;
  border-color: BurlyWood;
}

.skills_select
{
  font-size: auto;
  width: 90%;
  height: 100%;
  background: Bisque;
  border-color: BurlyWood;
  
}
th
{
  text-align: center;
}

.Main_Div
{
  position: absolute;
  background: AntiqueWhite;
  border-radius: 1vh;
  padding: 2.5vh;
}

#header
{
  
  width: 94%;
  left: 2%;
  
  height: 4%;
  font-size: 100%;
  top: 2.5%;
  text-align: center;
  vertical-align: middle;
  padding: 0.5%;

}
.stats_table
{
  width: 100%;
}
#basic_stats {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 45%;
  text-align: justify;
}


#character_attributes
{
  position: absolute;
  top: 84%;
  left: 2%;
  width: 45%;
  text-align: justify;
}
#attribute_names
{
  width: 44%;
}
.attribute
{
  width: 7%;
}

#skills
{
  position: absolute;
  top: 10%;
  left: 51%;
  width: 43.5%;
  text-align: justify;
}
.attribute_names
{
  width: 30%;
}
.skill_attribute
{
  width: 10%;
}

#Professions
{
  position: absolute;
  top: 150%;
  left: 2%;
  width: 45%;
  text-align: justify;
}

#generatesadf
{
  position: absolute;
  top:200%
}